In [1]:
%load_ext sql

In [2]:
%sql postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics

In [4]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist = 'Queen'
AND year >= 1980
AND year < 1990;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
2 rows affected.

[(2446, 1980, 6, 'Queen', 'Queen', 'Crazy Little Thing Called Love', 2447.0),
 (2615, 1981, 65, 'Queen', 'Queen', 'Another One Bites The Dust', 2616.0)]

In [9]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist LIKE 'Taylor%'
AND artist != 'Taylor Swift';

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
9 rows affected.

[(3309, 1988, 20, 'Taylor Dayne', 'Taylor Dayne', "I'll Always Love You", 3310.0),
 (3343, 1988, 53, 'Taylor Dayne', 'Taylor Dayne', 'Tell It To My Heart', 3344.0),
 (3394, 1988, 100, 'Taylor Dayne', 'Taylor Dayne', 'Prove Your Love', 3395.0),
 (3432, 1989, 38, 'Taylor Dayne', 'Taylor Dayne', "Don't Rush Me", 3433.0),
 (3526, 1990, 28, 'Taylor Dayne', 'Taylor Dayne', 'Love Will Lead You Back', 3527.0),
 (3546, 1990, 48, 'Taylor Dayne', 'Taylor Dayne', 'With Every Beat Of My Heart', 3547.0),
 (3561, 1990, 63, 'Taylor Dayne', 'Taylor Dayne', "I'll Be Your Shelter", 3562.0),
 (3905, 1993, 99, 'Taylor Dayne', 'Taylor Dayne', "Can't Get Enough Of Your Love", 3906.0),
 (5492, 2006, 99, 'Taylor Hicks', 'Taylor Hicks', 'Do I Make you Proud', 5493.0)]

### Challenge

In [17]:
%%sql

SELECT *
FROM billboard_top_100_year_end
WHERE artist = 'Rihanna'
AND group_name LIKE '%Rihanna%'
AND group_name != 'Rihanna'
AND year_rank > 50;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(5611, 2007, 85, 'Rihanna and Sean Paul', 'Rihanna', 'Break It Off', 5612.0),
 (5718, 2008, 62, 'Rihanna feat. Ne-Yo', 'Rihanna', 'Hate That I Love You', 5719.0),
 (6157, 2011, 69, 'Rihanna feat. Calvin Harris', 'Rihanna', 'We Found Love', 6158.0),
 (6307, 2012, 79, 'Rihanna feat. Chris Brown', 'Rihanna', 'Birthday Cake', 6308.0),
 (6425, 2013, 59, 'Wale feat. Tiara Thomas or Rihanna', 'Rihanna', 'Bad', 6426.0)]