In [1]:
%load_ext sql

In [2]:
%sql postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics

### COUNT

Count how many rows in our data set

In [5]:
%%sql

SELECT COUNT(*)
FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1757,)]

Count how many rows in a particular column

Note this is less than in the dataset due to null values

In [6]:
%%sql

SELECT COUNT("Item Size")
FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(1478,)]

### SUM

In [8]:
%%sql

SELECT SUM("Low Price")
FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(218871.8399999998,)]

### MIN/MAX

In [10]:
%%sql

SELECT MAX("High Price") FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(480.0,)]

In [11]:
%%sql

SELECT MIN("Low Price") FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(0.24,)]

### AVG - Average

In [12]:
%%sql

SELECT AVG("High Price") FROM us_pumpkin_prices;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
1 rows affected.

[(132.97093910073977,)]

### GROUP BY

In [14]:
%%sql

SELECT "Variety", COUNT(*) FROM us_pumpkin_prices GROUP BY "Variety";

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
11 rows affected.

[('HOWDEN TYPE', 542),
 ('BLUE TYPE', 19),
 ('BIG MACK TYPE', 74),
 ('MIXED HEIRLOOM VARIETIES', 57),
 (None, 5),
 ('KNUCKLE HEAD', 20),
 ('HOWDEN WHITE TYPE', 49),
 ('CINDERELLA', 81),
 ('PIE TYPE', 468),
 ('MINIATURE', 310),
 ('FAIRYTALE', 132)]

### HAVING

The HAVING keyword is a bit like WHERE. However, WHERE can't be used with aggregate functions, so we can use HAVING instead. 

For example, we can refine the last query above a little further:

In [15]:
%%sql

SELECT "City Name", "Variety", COUNT(*) 
FROM us_pumpkin_prices 
GROUP BY "City Name", "Variety" 
HAVING MAX("High Price") > 300 
ORDER BY "City Name" ASC;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[('BALTIMORE', 'CINDERELLA', 25),
 ('COLUMBIA', 'MINIATURE', 54),
 ('LOS ANGELES', 'HOWDEN TYPE', 21),
 ('SAN FRANCISCO', 'PIE TYPE', 45),
 ('SAN FRANCISCO', 'HOWDEN TYPE', 37)]

### Exercise 1

In [16]:
%%sql

SELECT *
FROM us_pumpkin_prices 
LIMIT 5

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
5 rows affected.

[(0, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None),
 (1, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 145.0, 154.75, 145.0, 154.75, 'MICHIGAN', None, 'xlge', None, None, None, None, None, None, None, None, 'N', None),
 (2, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 154.75, 150.0, 154.75, 'MICHIGAN', None, 'med-lge', None, None, None, None, None, None, None, None, 'N', None),
 (3, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 9, 24), 150.0, 150.0, 150.0, 150.0, 'MICHIGAN', None, 'sml', None, None, None, None, None, None, None, None, 'N', None),
 (4, 'PUMPKINS', 'ATLANTA', None, '24 inch bins', 'HOWDEN TYPE', None, None, datetime.date(2016, 10, 1), 140.0, 154.75, 140.0, 154.75, 'MICHIGAN', None, 'jbo', None, None, None, None, None, None, None, None, 'N', None)]

In [18]:
%%sql

SELECT "City Name", "Variety"
FROM us_pumpkin_prices 
GROUP BY "City Name" 
HAVING "Low Price" >= 5 
ORDER BY "Variety" ASC;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
(psycopg.errors.GroupingError) column "us_pumpkin_prices.Variety" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: SELECT "City Name", "Variety"
                            ^
[SQL: SELECT "City Name", "Variety"
FROM us_pumpkin_prices
GROUP BY "City Name"
HAVING "Low Price" >= 5
ORDER BY "Variety" ASC;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [24]:
%%sql

SELECT "City Name", "Variety"
FROM us_pumpkin_prices 
GROUP BY "City Name", "Variety"
HAVING MIN("Low Price") >= 5
ORDER BY "Variety";

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
75 rows affected.

[('NEW YORK', 'BIG MACK TYPE'),
 ('SAN FRANCISCO', 'BIG MACK TYPE'),
 ('DALLAS', 'BIG MACK TYPE'),
 ('BALTIMORE', 'BIG MACK TYPE'),
 ('BOSTON', 'BIG MACK TYPE'),
 ('BOSTON', 'BLUE TYPE'),
 ('SAN FRANCISCO', 'BLUE TYPE'),
 ('COLUMBIA', 'BLUE TYPE'),
 ('DALLAS', 'CINDERELLA'),
 ('BOSTON', 'CINDERELLA'),
 ('BALTIMORE', 'CINDERELLA'),
 ('COLUMBIA', 'CINDERELLA'),
 ('SAN FRANCISCO', 'CINDERELLA'),
 ('COLUMBIA', 'FAIRYTALE'),
 ('CHICAGO', 'FAIRYTALE'),
 ('BOSTON', 'FAIRYTALE'),
 ('BALTIMORE', 'FAIRYTALE'),
 ('DALLAS', 'FAIRYTALE'),
 ('SAN FRANCISCO', 'FAIRYTALE'),
 ('LOS ANGELES', 'HOWDEN TYPE'),
 ('BOSTON', 'HOWDEN TYPE'),
 ('COLUMBIA', 'HOWDEN TYPE'),
 ('MIAMI', 'HOWDEN TYPE'),
 ('SAN FRANCISCO', 'HOWDEN TYPE'),
 ('DALLAS', 'HOWDEN TYPE'),
 ('CHICAGO', 'HOWDEN TYPE'),
 ('ATLANTA', 'HOWDEN TYPE'),
 ('NEW YORK', 'HOWDEN TYPE'),
 ('ST. LOUIS', 'HOWDEN TYPE'),
 ('BALTIMORE', 'HOWDEN TYPE'),
 ('PHILADELPHIA', 'HOWDEN TYPE'),
 ('DETROIT', 'HOWDEN TYPE'),
 ('DALLAS', 'HOWDEN WHITE TYPE'),
 ('BALTIMORE', 'HOWDEN WHITE TYPE'),
 ('ST. LOUIS', 'HOWDEN WHITE TYPE'),
 ('DETROIT', 'HOWDEN WHITE TYPE'),
 ('CHICAGO', 'HOWDEN WHITE TYPE'),
 ('COLUMBIA', 'HOWDEN WHITE TYPE'),
 ('NEW YORK', 'KNUCKLE HEAD'),
 ('BOSTON', 'KNUCKLE HEAD'),
 ('COLUMBIA', 'KNUCKLE HEAD'),
 ('PHILADELPHIA', 'KNUCKLE HEAD'),
 ('SAN FRANCISCO', 'MINIATURE'),
 ('ST. LOUIS', 'MINIATURE'),
 ('PHILADELPHIA', 'MINIATURE'),
 ('NEW YORK', 'MINIATURE'),
 ('LOS ANGELES', 'MINIATURE'),
 ('BOSTON', 'MINIATURE'),
 ('COLUMBIA', 'MINIATURE'),
 ('ATLANTA', 'MINIATURE'),
 ('CHICAGO', 'MINIATURE'),
 ('BALTIMORE', 'MINIATURE'),
 ('CHICAGO', 'MIXED HEIRLOOM VARIETIES'),
 ('DALLAS', 'MIXED HEIRLOOM VARIETIES'),
 ('COLUMBIA', 'MIXED HEIRLOOM VARIETIES'),
 ('NEW YORK', 'MIXED HEIRLOOM VARIETIES'),
 ('BALTIMORE', 'MIXED HEIRLOOM VARIETIES'),
 ('ST. LOUIS', 'MIXED HEIRLOOM VARIETIES'),
 ('SAN FRANCISCO', 'MIXED HEIRLOOM VARIETIES'),
 ('DETROIT', 'MIXED HEIRLOOM VARIETIES'),
 ('LOS ANGELES', 'PIE TYPE'),
 ('ST. LOUIS', 'PIE TYPE'),
 ('DALLAS', 'PIE TYPE'),
 ('COLUMBIA', 'PIE TYPE'),
 ('MIAMI', 'PIE TYPE'),
 ('SAN FRANCISCO', 'PIE TYPE'),
 ('NEW YORK', 'PIE TYPE'),
 ('BOSTON', 'PIE TYPE'),
 ('BALTIMORE', 'PIE TYPE'),
 ('PHILADELPHIA', 'PIE TYPE'),
 ('CHICAGO', 'PIE TYPE'),
 ('DETROIT', 'PIE TYPE'),
 ('ATLANTA', 'PIE TYPE'),
 ('DALLAS', None),
 ('BALTIMORE', None)]

### Exercise 2

Count the number of hits for each artist

In [32]:
%%sql

SELECT artist AS "Artist", COUNT(*) AS "Hits"
FROM billboard_top_100_year_end
GROUP BY artist
ORDER BY "Hits" DESC
LIMIT 15;

 * postgresql+psycopg://localhost:5432/intro_to_sql_for_analytics
15 rows affected.

[('Elvis Presley', 36),
 ('Madonna', 36),
 ('Rihanna', 33),
 ('Mariah Carey', 33),
 ('Ludacris', 28),
 ('Elton John', 28),
 ('Beatles', 27),
 ('Michael Jackson', 26),
 ('Lil Wayne', 25),
 ('R. Kelly', 25),
 ('Usher', 25),
 ('Janet Jackson', 23),
 ('Stevie Wonder', 23),
 ('T-Pain', 23),
 ('Kanye West', 22)]